/* Base Styles */
:root {
    --clr-dark: #1F2937;
    --txt-main: 48px #f9faf8 bolder;
    --txt-hero: 18px #E5E7EB;
    --txt-logo: #F9FAF8;
    --clr-btn: #3882F6;
    --txt-info: 36px bolder #1F2937;
    --clr-bkgd:#E5E7EB;
    --txt-qt:36px italic #1F29E7
}


/* Header */


/* Body */


/* Footer */
