/* Base Styles */
* {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Header */
header{
    background-color: #1F2937;
    padding: 2% 10%;
    color: #E5E7EB;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

li {
    margin: 5px 10px;
}

h1 {
    font-size: 48px;
    margin-bottom: 0px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-body {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.img-txt-box {
    height: 300px;
    width: 700px;
    background-color: grey;
    color: #F9FAF8;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Container 1 */
.container-1 {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    padding: 2% 10% 4% 10%;
    align-items: center;
}

.containers-1 {
    display: flex;
    flex-direction: row;
    color: #1F2937;

}

.img-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;


}

.img {
    height: 100px;
    width: 100px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

h2 {
    font-size: 36px;
    margin-bottom: 16%;
}

.text-container-1 {
    padding: 8px 56px;
    text-align: center;
}


/* Container 2 */
.container-2 {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10% 10% 10% 10%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    justify-content: flex-start;
}

.author {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

/* Container 3 */

.container-3 {
    padding: 10% 10% 10% 10%;
    color: white;
}

.banner-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 2% 5%;
}

.btn3 {
    border: 2px solid white;
}

/* Footer */
footer {
    background-color: #1F2937;
    padding: 2% 10%;
    color: #E5E7EB;
    text-align: center;
}